@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Quantico:wght@700&family=VT323&display=swap');

nav,a {
    list-style: none;
    background-color: rgba(36, 35, 35, 0.941);
    padding: 2px;
    font-size: 25px;
    font-family: 'Quantico', sans-serif;
}

li {
    display: inline-block;
    width: 15%;
    text-align: center;
}

li a:link {
    text-decoration: none;
    color: rgb(85,26,139);
    padding: 5px;
}

li a:hover {
    background-color: black;
    color: rgb(85,26,139);
}

body{
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: rgb(85,26,139);
    text-align: center;
}

.centered {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 50px;
    text-align: center;
    color: aliceblue;
    font-family: 'Playfair Display', serif;
}

h2 {
    color: antiquewhite;
    font-size: 30px;
    font-family: 'Quantico', sans-serif;
}

section,ul {
    font-size: 17px;
    font-family: 'Quantico', sans-serif;
}

section>ul {
    display: inline-block;
    font-size: 17px;
    text-align: left;
    margin-left: 400px;
    color: aliceblue;
    width: 145%;
    white-space:nowrap;
}


section:nth-of-type(1) {
    border: 5px;
    margin: 15px;
    width: 50%;
    padding: 5px;
    font-size: 20px;
    display: inline-block;
    
}


section:nth-of-type(3) {
    border: 5px;
    margin: 15px;
    width: 80%;
    padding-left: 140px;
    font-size: 20px;
    display: flex;
    text-align: center;
}

section:nth-of-type(5) {
    border: 5px;
    margin: 15px;
    width: 80%;
    padding-left: 140px;
    font-size: 20px;
    display: flex;
    text-align: center;
}

section:nth-of-type(7) {
    border: 5px;
    margin: 15px;
    width: 80%;
    padding-left: 140px;
    font-size: 20px;
    display: flex;
    text-align: center;
}

section:nth-of-type(9) {
    border: 5px;
    margin: 15px;
    width: 80%;
    padding-left: 140px;
    font-size: 20px;
    display: flex;
    text-align: center;
}

section:nth-of-type(11) {
    border: 5px;
    margin: 15px;
    width: 80%;
    padding-left: 140px;
    font-size: 20px;
    display: flex;
    text-align: center;
}

p {
    border: 2px;
    margin: 5px 50px 5px 50px;
    font-family: 'VT323', monospace;
    font-size: 23px;
}

#back-top {
    display: block;
    background: none;
    margin: 0;
    bottom: 50px;
    margin-left: 95%;
    width: 40px;
    height: 40px;
    background-color: rgba(20, 19, 19, 0.722);
    }